*CVS*
ezquake_19_stable_sources/release-x86/
tyrquake/build
tyrquake/tyr-quake
openquartz/pak0/*.pak
openquartz/utils/bin
openquartz/pak0/*.ls
openquartz/pak0/*.wad
*.o
*.bsp
*.pts
*.lmp
*.prt
*.h1
*.h2
*.a
*.log
openquartz/utils/qutils/bin
openquartz/pak0/progs
*.dat
