*CVS*
ezquake_19_stable_sources/release-x86/
darkplaces
openquartz/pak0/*.pak
openquartz/utils/bin
*.o
*.bsp
*.pts
*.prt
*.h1
*.h2
*.a
*.log
*#
*~
*.xo
*.tar.gz
*.zip
*.bak
openquartz/utils/qutils/bin
*.svn/*
*.dat
*.lit
*.blend1
*.autosave.map
