*CVS*
ezquake_19_stable_sources/release-x86/
tyrquake/build
tyrquake/tyr-quake
openquartz/pak0/*.pak
*.o
*.bsp
*.pts
*.prt
*.h1
*.h2
*.a
*.log
*#
*~
*.xo
*.tar.gz
*.zip
*.bak
*.dat
*.blend1
*.autosave.map
